* {
  margin: 0;
}

#parent {
  /* 1. Try to add the `display: flex;`, can you guess what is going to happen? */
  display: flex;
  /* 2. What will happen if we will add `justify-content: center;`? */
  /* Try to play with it in the browser in the `Devtools` */
  justify-content: center;
  /* align-items: flex-end; */
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(224, 215, 217); */
}

#row-1 {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#row-2 {
  width: 100vw;
  display: flex;
}

#child-1 {
  height: 50px;
  width: 70px;
  background-color: red;
}

#child-2 {
  height: 50px;
  width: 70px;
  background-color: yellow;
}

#child-3 {
  height: 50px;
  width: 70px;
  background-color: green;
}

#child-4 {
  height: 50px;
  width: 70px;
  background-color: blue;
}

#child-5 {
  height: 50px;
  width: 70px;
  background-color: purple;
}

#child-6 {
  height: 50px;
  width: 70px;
  background-color: pink;
}

#child-7 {
  height: 50px;
  width: 70px;
  background-color: rgb(62, 234, 62);
}

#child-8 {
  height: 50px;
  width: 70px;
  background-color: rgb(66, 224, 239);
}
